<%- layout("/listings/boilerplate") %>
<!-- <% //layout("/listings/boilerplate")%> -->
<body>
  
  <div class="row">
    <div class="col-8 offset-2">
      <form method="post" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
        <h2>Create a New Listing</h2>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Enter Title here.."
            class="form-control"
            required
          /><br />
          <div class="valid-feedback">This is ok</div>
          <div class="invalid-feedback">Please Enter Title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            name="listing[description]"
            placeholder="Enter Description here..."
            class="form-control"
            rows="3"
            required
          ></textarea
          ><br />
          <div class="valid-feedback">This is ok</div>
          <div class="invalid-feedback">Please enter short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
            required
          /><br />
          <div class="valid-feedback">ok</div>
          <div class="invalid-feedback">Please Enter Image link</div>
        </div>
        <div class="row">
          <div class="mb-3 col-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              placeholder="Enter your Price"
              class="form-control"
              required
              
            />
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Enter Price</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="country here..."
              class="form-control"
              required
            />
            <div class="valid-feedback">ok</div>
            <div class="invalid-feedback">Please Enter country</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="location here..."
            class="form-control"
            required
          /><br />
          <div class="valid-feedback">ok</div>
          <div class="invalid-feedback">Enter Location</div>
        </div>

        <button class="btn btn-dark">Add</button>
        <br><br>
      </form>
    </div>
  </div>
</body>
